API_IMAGE=ghcr.io/enioamarantes/brain-health-api:staging-latest
FRONTEND_IMAGE=ghcr.io/enioamarantes/brain-health-frontend:staging-latest

# Banco
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=BrainHealthDb

# API
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
ASPNETCORE_URLS=http://+:5000
CONNECTION_STRING=Server=db;Port=3306;Database=BrainHealthDb;User=root;Password=${MYSQL_ROOT_PASSWORD};SslMode=None;AllowLoadLocalInfile=false;AllowPublicKeyRetrieval=true;
